<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <link type="text/css" href="/css/apply.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css" integrity="sha256-jwJEU4p1YdtymLFwAjYfam5Pj5NOnylms63k7LYQ9Jk=" crossorigin="anonymous" />
  <title>Applications</title>
</head>

<body>
  <div class="wrapper">
    <%- include('../partials/navbar', { components, currentPage: "apply", hasApplied: false }); %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">

              <ul id="progressbar">
                <% sections.forEach((section, index) => { %>
                  <% if (index == 0) { %>
                  <li class="active"><%= section.name %> </li>
                  <% } else { %>
                  <li><%= section.name %> </li>
                  <% } %>
                <% }) %>
              </ul>

              <form id="applyForm" action="javascript:;" method="post" enctype="multipart/form-data">
                <% sections.forEach((section, sectionIndex) => { %>
                <div class="card apply-form-card">
                  <div class="card-header card-header-tabs card-header-primary">
                    <h2 class="card-title text-center"><%= section.name %></h2>

                    <div id="save-progress" class="save-spinner" style="display: none;">
                      <span>Saving...</span>
                      <svg class="spinner" width="15px" height="15px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>

                    <div id="save-done" class="save-complete">
                      <span class="material-icons">done</span>
                    </div>
                  </div>

                  <div class="card-body">
                    <div class="apply-form-section">
                      <% section.questions.forEach((question, questionIndex) => { %>
                        <% question.questionText = question.questionText.replace("<hackathon-name>", locals.settings.shortName) %>
                        <% var currentID = `section${sectionIndex}-question${questionIndex}`; %>
                        <%- include(`../partials/application/${question.answerType}`, { question, currentID }); %>
                      <% }) %>
                      
                      <% if (sectionIndex > 0 && sectionIndex < sections.length) { %>
                        <input type="button" name="previous" class="btn btn-danger previous-form-stage" value="Previous" />
                      <% } %>
                      <% if (sectionIndex == sections.length - 1) { %>
                        <input id="submit-form-btn" type="submit" name="submit" class="btn btn-success submit-form" value="Submit" />
                      <% } else { %>
                        <input type="button" name="next" class="btn btn-primary next-form-stage" value="Next" />
                      <% } %>
                    </div>
                  </div>
                </div>
                <% }) %>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"
      integrity="sha256-tw5/wId1F+4LyUF2ZJnpRoHNXJ66jrK3IGhfq4LhLjY=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js" integrity="sha256-FXzZGmaRFZngOjUKy3lWZJq/MflaMpffBbu3lPT0izE=" crossorigin="anonymous"></script>
      <script src="/js/external/typeahead.min.js"></script>

      <script>
        const partialApplication = <%- JSON.stringify(partialApplication || null) %>;
      </script>

      <script src="/js/apply/partialApplication.js"></script>
      <script src="/js/apply/apply.js"></script>
    </div>
  </div>
</body>

</html>