<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <link type="text/css" href="/css/admin.css" rel="stylesheet" />
    <title>Manage Application | Admin</title>
  </head>

  <body>
    <div class="wrapper">
      <% include ../partials/navbar.ejs %>
      <div class="main-panel">
        <div class="content">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <h1>Application Details</h1>
            </div>

            <div class="container">
              <div class="row">
                <h2>Basic Details</h2>
              </div>
              <div class="row">
                <div class="col-4">
                  <p><strong>Applicant ID</strong>: <%= applicant.id %></p>
                  <p><strong>Name</strong>: <%= applicant.name %></p>
                  <p><strong>Age</strong>: <%= applicant.age %></p>
                  <p>
                    <strong>Nationality</strong>: <%= applicant.nationality %>
                  </p>
                </div>
                <div class="col-4">
                  <p><strong>Country</strong>: <%= applicant.country %></p>
                  <p><strong>City</strong>: <%= applicant.city %></p>
                  <p>
                    <strong>University</strong>: <%= applicant.university %>
                  </p>
                  <p>
                    <strong>Year of Study</strong>: <%= applicant.yearOfStudy %>
                  </p>
                </div>
                <div class="col-4">
                  <p><strong>Skills</strong>: <%= applicant.skills %></p>
                  <p>
                    <strong>T-shirt Size</strong>: <%= applicant.tShirtSize %>
                  </p>
                  <p>
                    <strong>Dietary Requirements</strong>: <%=
                    applicant.dietaryRequirements %>
                  </p>
                  <p><strong>CV</strong>:</p>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <h2>Experience</h2>
              </div>
              <div class="row">
                <p>
                  <strong>Hackathon Count</strong>: <%= applicant.hackathonCount
                  %>
                </p>
              </div>
              <div class="row">
                <h3>Past Projects</h3>
                <%= applicant.pastProjects %>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <h2>Motivation</h2>
              </div>
              <div class="row">
                <%= applicant.whyChooseHacker %>
              </div>
            </div>
          </div>
        </div>
        <% include ../partials/footer.ejs %>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.js"
      integrity="sha256-xNhpuwaNiVdna6L8Wy3GNuQz1z+SCmo4NY1c7cJ9Vdc="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
