<div class="form-group bmd-form-group">
  <label
    for="<%= currentID %>">
    <%= question.questionText %>
    <%- question.required ? "<span class='label-req'> *</span>" : "" %>
  </label>

  <select
  class="form-control selectpicker"
  id="<%= currentID %>"
  name="<%= question.questionName %>"
  title="Choose one of the following..."
  data-style="btn btn-link"
  data-live-search="true"
  data-live-search-style="startsWith"
  <%= question.required ? "required" : "" %> >

    <% if (question.hasOwnProperty('answerOptions')) { %>
      <% question.answerOptions.forEach(multioption => { %>
        <option><%= multioption %></option>
      <% }) %>
    <% } %>
  </select>
</div>