<div class="form-group">
  <label
  class="bmd-label-floating apply-label"
  for="<%= currentID %>" >
  <%= question.questionText %>
  </label>

  <textarea
    data-hs-type="long"
    class="form-control"
    id="<%= currentID %>"
    name="<%= question.questionName %>"
    maxlength="<%= question.maxLength || "" %>"
    rows="3"
    <%= question.required ? "required" : "" %>></textarea>
</div>